@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.linkEditor {
  font-family: "Roboto", sans-serif !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  width: 1000px;
  min-width: 300px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-style: normal !important;
  margin: 0 !important;
  padding: 0 15px 15px !important;
  background-color: #fff !important;
  color: #333 !important;
  position: fixed !important;
  top: 20px !important;
  left: 20px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  z-index: calc(infinity) !important;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.15) !important;
  pointer-events: auto !important;
  resize: horizontal !important;
  overflow: auto !important;

  &__header {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 65px !important;
    cursor: grab !important;
    border-bottom: 1px solid #c9c9c9 !important;
    resize: horizontal !important;

    &:active {
      cursor: grabbing !important;
    }

    &__title {
      font-size: 18px !important;
      color: #333 !important;
    }

    &__totalCount {
      font-size: 16px !important;
      color: #333 !important;
    }

    &__closeBtn {
      font-size: 20px !important;
      cursor: pointer !important;
      color: #888 !important;
      transition: color 0.3s ease !important;

      &:hover {
        color: #555 !important;
      }
    }
  }

  &__content {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    gap: 15px !important;
    margin-block: 10px !important;
    min-width: 250px !important;
    height: 480px !important;
    overflow-y: auto !important;
    scroll-snap-type: y mandatory !important;

    &__pair {
      display: flex !important;
      justify-content: center !important;
      flex-direction: column !important;
      height: 230px !important;
      border: 1px solid #ccc !important;
      padding: 0 8px !important;
      border-radius: 4px !important;
      background-color: #f9f9f9 !important;
      scroll-snap-align: start !important;

      & label {
        font-weight: bold !important;
        margin-bottom: 4px !important;

        &:nth-child(-n + 3) {
          display: flex !important;
          flex-flow: column !important;
        }
        &:nth-child(n + 4) {
          display: flex !important;
          align-items: center !important;
        }
      }

      &__openInNewTabLabel.disabled {
        opacity: 0.5 !important;
        cursor: not-allowed !important;

        & input {
          pointer-events: none !important;
          cursor: not-allowed !important;
        }
      }

      &__title,
      &__selector,
      &__urlPattern {
        padding: 5px !important;
        border: 1px solid #ccc !important;
        border-radius: 5px !important;
      }

      &__ctrlBtn {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;

        &__removeBtn {
          margin-left: auto !important;
        }

        &__moveUpBtn {
          margin-right: 5px !important;
        }

        &__moveDownBtn {
          margin-left: 5px !important;
        }

        &__moveUpBtn,
        &__moveDownBtn,
        &__removeBtn {
          background-color: #f9f9f9 !important;
          padding: 6px 8px !important;
          border: 1px solid #ccc !important;
          border-radius: 8px !important;
          cursor: pointer !important;

          &:hover {
            background-color: #f0f0f0 !important;
            color: #555 !important;
          }
        }
      }
    }
  }

  &__addBtn {
    position: relative !important;
    bottom: 0 !important;
    padding: 8px 12px !important;
    background-color: #f0f0f0 !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    cursor: pointer !important;

    &:hover {
      background-color: #e0e0e0 !important;
    }
  }
}
